@font-face {
  font-family: "Noto Sans";
  src: url("./NotoSans-Light.ttf");
}

@font-face {
  font-family: "Noto Serif Display";
  src: url("./NotoSerifDisplay-SemiBold.ttf");
}

#main {
  position: relative;
  width: 1200px;
  height: 630px;
  background: url("./bg.jpeg");
  background-size: cover;
}

#date {
  font-family: "Noto Sans", monospace;
  position: absolute;
  font-weight: 300;
  font-size: 48px;
  right: 32px;
  bottom: 30px;
}

#logo {
  position: absolute;
  width: 212px;
  right: 32px;
  bottom: 130px;
}

#title {
  width: 1168px;
  max-height: 120px;
  left: 32px;
  top: 30px;
  position: absolute;

  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 56px;
  text-overflow: ellipsis;
}

#post-image {
  position: absolute;
  left: 32px;
  bottom: 30px;
  max-width: 660px;
  max-height: 410px;
}
